<div id="sign_up">
   <button>
    <a href="/user/sign_up">
        sign up
    </a>
   </button>
</div>

<div id="sign_in">
    <button>
        <a href="/user/sign_in">
            sign in
        </a>
    </button>
</div>

<section id="feed-post">
<h4>Posts</h4>
<form action="" id="new-post-form" method="post">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="post">
</form>

</section>