<div id="sign_up">
   <button>
    <a href="/user/sign_up">
        sign up
    </a>
   </button>
</div>

<div id="sign_in">
    <button>
        <a href="/user/sign_in">
            sign in
        </a>
    </button>
</div>