<div id="sign_up">
    <button>
        <a href="/user/sign_up">
            sign up
        </a>
    </button>
</div>

<div id="sign_in">
    <button>
        <a href="/user/sign_in">
            sign in
        </a>
    </button>
</div>

<section id="feed-post">
    <h4>Posts</h4>
    <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Type here...."></textarea>
            <input type="submit" value="post">
        </form>

    <% } %>
    

    <div id="post-list-container">
        <h4>all post are display below :-</h4>
        <ul>
            <% for(post of posts){ %>

                <li>
                    <p>
                        <%= post.content %>
                            <br>
                            <small>
                                <%=post.user.name %>
                            </small>
                    </p>
                    <div class="post-comment">
                        <% if(locals.user){ %>
                            <form action="/comment/create" method="post">
                                <input type="text" name="content" placeholder="Type here to add your comment..">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add comment">
                            </form>

                       <% } %>
                    </div>
                </li>

                <% } %>
        </ul>
    </div>

</section>